<style>
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
}
.book-details {
  width: 300px;
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
}
</style>

<div class="container">
  <div id="<%= dom_id(book) %>" class="book-details">
  <p>
  <strong>Bookno:</strong>
  <%= book.bookno %>
</p>

<p>
  <strong>Subject:</strong>
  <%= book.subject %>
</p>

<p>
  <strong>Author:</strong>
  <%= book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= book.title %>
</p>
</div>

  </div>
  <p>
  <strong>Book Cover</strong>
  </p>
  <% if @book.image.attached? %>
  <p>
    <%= image_tag @book.image, style: "height: 300px; width: 300px;" %>
  </p>
  <% end %>
</div>
